.home {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  line-height: 2;
  flex-flow: row wrap;
  margin:auto;  
}