.flexContainer {
	padding: 0;
	margin: 0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: center;
}

.stack {
}


.nav {
	font-family: monospace;
	color: #357cb2;
}

row {
	width: 100%;
}

.flexIcon {
	text-align: center;
	padding: 5px;
	padding-top: 3px;
	margin: 10px;
}

.flexItem {
	line-height: 75px;
	text-align: center;
	padding: 5px;
	margin: 10px;
}

@media screen and (max-width: 600px) {
	.stack {
		-webkit-flex-direction: column;
		flex-direction: column;
		line-height: 0px;
	}
}
